.bd-page {
    align-items: stretch;
    border-top: 1px solid var(--app-border-frame);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: stretch;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    position: relative;
    background: var(--background-gradient-chat, var(--background-base-lower));
}

.bd-headerbar {
    flex: 0 0 auto;
}

.bd-content {
    padding: 24px 8px 24px 24px;
    overflow: hidden scroll;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.bd-content::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}

.bd-content::-webkit-scrollbar-corner {
    background-color: transparent;
}

.bd-content::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px;
}

.bd-content::-webkit-scrollbar-thumb,
.bd-content::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
}

.bd-content::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-track);
}

.bd-header {
    align-items: center;
    border-bottom: 1px solid var(--border-subtle);
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    height: var(--custom-channel-header-height);
    padding: 16px;
    flex: 0 0 auto;
}

.bd-header h2 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text-default);
    flex: auto;
}

.bd-changelog {
    color: var(--interactive-normal);
    cursor: pointer;
}

.bd-changelog:hover {
    color: var(--interactive-hover);
}

.bd-changelog:active {
    color: var(--interactive-active);
}

.bd-nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2px;
    padding: 8px 0 8px 8px;
}

.bd-nav-item {
    align-items: center;
    border-radius: var(--radius-sm);
    cursor: pointer;
    display: flex;
    gap: 12px;
    padding: var(--space-sm) var(--space-xs);
    color: var(--interactive-normal);
}

.bd-nav-item:focus-within,
.bd-nav-item:hover {
    background: var(--background-modifier-hover);
    color: var(--interactive-hover);
}

.bd-nav-item:active,
.bd-nav-item.bd-nav-item-selected {
    background: var(--background-modifier-active);
    color: var(--interactive-active);
}

.bd-nav-item-icon {
    height: 24px;
    width: 24px;
    color: var(--interactive-normal);
}

.bd-nav-item-text {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.bd-links {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 0 8px 8px;
}

.bd-links a {
    color: var(--interactive-normal);
    margin-right: 8px;
    padding: 0 2px;
    -webkit-text-decoration: var(--link-decoration);
    text-decoration: var(--link-decoration);
}

.bd-links svg {
    width: 16;
    height: 16;
}

.bd-content-wrapper {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    min-width: 0;
    position: relative;
    width: 100%;
}

.bd-sidebar-wrapper {
    background: var(--background-gradient-high, var(--background-base-lowest));
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.bd-content-wrapper .bd-sidebar-wrapper {
    flex: 0 0 240px;
    margin-bottom: 0;
}

.bd-sidebar {
    background: var(--background-gradient-high, var(--background-base-lowest));
    overflow: hidden scroll;
    margin-bottom: calc(var(--custom-app-panels-height, 0) + 8px);
}

.bd-sidebar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.bd-sidebar::-webkit-scrollbar-corner {
    background-color: transparent;
}

.bd-sidebar::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb);
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px;
}

.bd-sidebar::-webkit-scrollbar-track {
    visibility: hidden;
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track);
    border-color: var(--scrollbar-thin-track);
}

.bd-sidebar:hover::-webkit-scrollbar-thumb,
.bd-sidebar:hover::-webkit-scrollbar-track {
    visibility: visible;
}

.bd-nav-seperator {
    background-color: var(--divider-subtle);
    border: 0;
    box-shadow: border-box;
    height: 1px;
    margin: 10px 0;
    width: 100%;
}

.bd-home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.bd-home + .bd-content {
    z-index: 1;
    padding-top: calc(300px - 48px);
}

.bd-home > :where(div, canvas) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.bd-home-content {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bd-home-logo {
    padding: 16px;
    background-color: var(--bd-brand);
    border-radius: 50%;
    color: white;
}

.bd-home-greeting {
    color: white;
}

/* [data-dark-mode="true"] :where(.bd-home-logo, .bd-home-greeting) {
    color: black;
} */

.bd-home-redirects {
    gap: 24px;
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 8px 0;
}

.bd-home-redirect {
    background: var(--background-base-lowest);
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 300px;
}

.bd-home-redirect-icon {
    color: #fff;
    background: var(--background-base-low);
    padding: 16px;
    border-radius: 50%;
}

.bd-home-redirect-title {
    color: var(--header-primary);
}

.bd-home-redirect-description {
    color: var(--header-muted);
}

.bd-home-redirect-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.bd-store-list {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    justify-content: space-evenly;
}